<a
  class="back-link"
  href="https://michael-zhinchyn.github.io/goit-js-hw-11-enhanced/"
>
  <img
    class="go-back-btn"
    src="./images/circle-left.svg"
    alt="svh"
    width="28"
  />
</a>
<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Type here..."
  />
  <button type="submit">
    <span class="button-text">Search</span>
    <img class="logo" src="./images/logo.svg" alt="pixabay logo" width="100" />
  </button>
</form>

<button class="to-top-btn" title="Go to top">
  <img src="./images/circle-chevron-top-svgrepo-com.svg" alt="svh" width="28" />
</button>
<div class="gallery"></div>
<div class="js-guard"></div>
<div id="player"></div>
<input
  class="volume"
  type="range"
  id="volumeSlider"
  min="0"
  max="100"
  value="30"
/>

<audio class="soundFx" src="./sound-fx/sound-fx-short-notification.mp3"></audio>
