<div class="modal">
  <div class="modal-header">
    <h1 class="modal-title">IMAGE - FINDER</h1>
    <p class="about">( homework )</p>
  </div>

  <div class="modal-content">
    <div class="modal-section">
      <h2 class="site-version">Basic</h2>
      <p class="description">
        Adding more images by <b class="bold">Load More</b> button click.
      </p>
      <p></p>
      <a
        href="https://michael-zhinchyn.github.io/goit-js-hw-11-basic/"
        class="ext-link modal-btn-enter"
        >Visit</a
      >
      <div class="gh-logo-block">
        <a href="https://github.com/Michael-Zhinchyn/goit-js-hw-11-basic">
          <img
            src="./images/github-mark-white.svg"
            alt="github-mark-dark"
            width="40"
          />
        </a>
      </div>
    </div>

    <div class="modal-section">
      <h2 class="site-version">Enhanced</h2>
      <p class="description"><b class="bold">Infinite Scroll</b></p>
      <p class="description"><b class="bold">Sound-Fx</b> / sound control</p>
      <p class="description"><b class="bold">Customized</b> elements</p>
      <p class="description"><b class="bold">Enhanced</b> UX / UI</p>
      <a
        href="https://github.com/Michael-Zhinchyn/goit-js-hw-11-enhanced"
        class="ext-link modal-btn-enter"
        id="enhanced"
        >Visit</a
      >
      <div class="gh-logo-block">
        <a href="https://github.com/Michael-Zhinchyn/goit-js-hw-11-enhanced">
          <img
            src="./images/github-mark-white.svg"
            alt="github-mark-dark"
            width="40"
          />
        </a>
      </div>
    </div>
  </div>
  <p class="footer">Michael Zhinchyn GOIT-JS-HW-11</p>
</div>
