/* .modal {}

.modal-block {} */

.modal-title {
    color: rgb(47, 39, 205);
    text-align: center;
}

.modal-content {
    display: flex;
    background-color: aliceblue;
    justify-content: space-evenly;
}

/* .modal-section {}

.site-version {}

.description {}

.modal-btn-enter {} */